/*

!.gitignore
!.zprofile
!.xinitrc
!set-resolution
!background.png

!.config/
.config/*

!.config/alacritty/

!.config/gtk-3.0/

!.config/nvim/
.config/nvim/*
!.config/nvim/init.lua

!.config/yazi/

!.config/zsh/
!.config/zsh/powerlevel10k/
.config/zsh/histfile
.config/zsh/.zcompdump

!.config/zellij/

